/* Contact us Contact us Contact us Contact us Contact us  */
.contact {
  width: 90%;
  margin: 50px auto;
  background-color: #f5f5f5;
  padding: 70px;
}
.contact-details h3 {
  color: #414141;
}

/* form form form form form form form */
.contactus-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}
form {
  flex: 2;
  padding-right: 30px;
  margin-right: 30px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
