@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --secondary-black: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body,
html {
  width: 100%;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url("./images/ind1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0%, 50%;
}
.nav-container {
}
nav {
  display: flex;
  color: #2c3e50;
  width: 90%;
  margin: 0 auto;
  height: 80px;
  align-items: center;
}
nav .logo {
  font-size: 30px;
  height: 100%;
  padding: 2px;
}
.nav-container > nav > i {
  display: none;
  font-size: 2rem;
  color: var(--secondary-black);
}
nav .nav-links {
  flex: 1;
  text-align: right;
}
nav .nav-link-active {
  color: #2e86de;
}
.nav-links li {
  display: inline;
  font-size: 1.2rem;
  padding: 0 15px;
  position: relative;
}
.nav-links li:hover {
  color: #54a0ff;
}
.nav-links li a {
  text-decoration: none;
  color: var(--secondary-black);
}
.nav-links li::after {
  content: "";
  position: absolute;
  background-color: #54a0ff;
  width: 0;
  height: 3px;
  border-radius: 5px;
  bottom: -15px;
  left: 30px;
  transition: 0.25s ease-in-out;
  opacity: 0;
}
.nav-links li:hover::after {
  width: 90%;
  left: 5px;
  opacity: 1;
}

header .content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 80%;
  color: #34495e;
}
.content .left {
  width: 100%;
  align-self: center;
}
.content .left h1 {
  font-size: 8rem;
}
.content .left h2 {
  font-size: 3rem;
  color: #e74c3c;
  line-height: 50px;
}

@media (max-width: 700px) {
  .nav-container {
    background-color: white;
  }
  .content .left h1 {
    font-size: 5rem;
  }
  .content .left h2 {
    font-size: 3rem;
  }
  ul .nav-links {
    display: none;
  }
  .nav-container > nav > ul {
    display: none;
  }
  .nav-container > nav > i {
    display: block;
  }
}

/* About */
.about-head {
  height: 300px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/question.png);
  background-position: right;
  background-size: 300px, 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.25s ease-in-out;
  color: var(--secondary-black);
}
.about-head span {
  color: #e74c3c;
}
.about:hover {
  background-size: 310px, 20px;
}
.about-content {
  padding: 50px calc(10vw);
  font-size: 1.5rem;
}
.about-content span {
  font-size: 8rem;
  line-height: 50px;
  color: #e74c3c;
}

@media (max-width: 700px) {
  .about-head {
    font-size: 2rem;
    height: 200px;
  }
  .about-content {
    padding: 30px 30px;
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .about-head {
    font-size: 1.5rem;
  }
}

hr {
  margin: 50px 30px;
}

/* mission */
.mission {
  margin-top: 50px;
  color: white;
  height: 500px;
  background-image: url(./images/img3.png);
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans";
}
.mission .mission-container h1 {
  font-size: 4rem;
}
.mission .mission-container p {
  color: #130f40;
  font-size: 2.2rem;
  line-height: 50px;
  padding: 50px 50px;
}

@media (max-width: 864px) {
  .mission {
    height: auto;
    background-position: -500px;
  }
  .mission .mission-container h1 {
    font-size: 3rem;
  }
  .mission .mission-container p {
    font-size: 2rem;
    line-height: 40px;
  }
}

.space {
  height: 1000px;
}
